.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftContent {
  display: flex;
  gap: 35px;
  align-items: center;
}

.accountsList {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}
