.container {
  padding-top: 50px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftContent {
  display: flex;
  gap: 35px;
}

.accountsList {
  padding-top: 50px;
}
