.header {
  background-color: #116acc;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
