.headerPage {
    margin-bottom: 56px;
    font-size: 34px;
    font-weight: 700;
    color: var(--secondary-5-color);
}

.wrapperContent {
    display: flex;
    gap: 50px;
}

.leftContent {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.leftContent,
.rightContent {
    width: 100%;
}


.currencies {
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 44px;
}

.blockHead {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-5-color);
}

.currencyExchange {
    padding: 50px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}