.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  background-color: #f3f4f6;
  border-radius: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.headLoginForm {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 35px;
  text-align: center;
}

.input {
  width: 100%;
  height: 44px;
  margin-bottom: 25px;
  border-radius: 7px;
  border: 1px solid #9ca3af;
}

.wrapperButton {
  width: 100%;
  display: flex;
  justify-content: start;
}

.formBody {
  width: 300px;

  span{
    display: block;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
  }
}
