.headerDetailPage {
    color: var(--secondary-5-color);
    font-size: 34px;
    font-weight: 700;
}

.top {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.topContentLeft {
    display: flex;
    flex-direction: column;
    gap: 33px;
    justify-content: space-between;
}

.number {
    color: var(--secondary-5-color);
    font-size: 34px;
    font-weight: 400;
}

.topContentRight {
    display: flex;
    flex-direction: column;
    gap: 33px;
    justify-content: space-between;
}

.link {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 16px 24px;
}

.arrowSvg {
    display: flex;
}

.accountBalance {
    color: var(--secondary-5-color);
    font-size: 20px;
    font-weight: 700;
}

.countBalance {
    color: var(--secondary-5-color);
    font-size: 20px;
    font-weight: 400;
}

.balanceChart {
    display: flex;
    padding: 26px 100px;
    border-radius: 50px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    height: 250px;
    margin: 0 auto;
    margin-bottom: 50px;
}