:root {
  ///Brand colors
  --bg-color: #ffffff;
  --primary-color: #116acc;
  --secondary-color: #182233;
  --secondary-2-color: #b3cee2;
  --secondary-3-color: #d9dde7;
  --secondary-4-color: #fd4e5d;
  --secondary-5-color: #000;

  ///State colors
  --state-info: #a0c3ff;
  --state-success: #76ca66;
  --state-warning: #fbc756;
  --state-error: #ba0000;
}
