.param {
    line-height: 1.4;
    list-style: none;
}

.param:not(:last-child) {
    margin-bottom: 25px;
}
    
.param__prop {
    position: relative;
    display: block;
    overflow: hidden;
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-5-color);
}
  
.param__prop:after {
    content: '';
    position: absolute;
    margin-left: 10px;
    bottom: .35em;
    width: 100%;
    border-bottom: .1em dotted;
}
    
.param__value {
    float: right;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-5-color);
}
