@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

:root {
  --font-family-main: 'Work Sans', sans-serif;

  ///font-size
  --text-xs: 13px;
  --text-sm: 16px;
  --text-md: 18px;
  --text-lg: 34px;

  ///line-height
  --font-line-xs: 20px;
  --font-line-sm: 22px;
  --font-line-md: 24px;
  --font-line-lg: 40px;

  ///presets
  --font-xs: var(--text-xs) / var(--font-line-xs) var(--font-family-main);
  --font-sm: var(--text-sm) / var(--font-line-sm) var(--font-family-main);
  --font-md: var(--text-md) / var(--font-line-md) var(--font-family-main);
  --font-lg: var(--text-lg) / var(--font-line-lg) var(--font-family-main);
}
